extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to update
  else
    - let butterflyid = toShow._id
    - let butterfly_color = toShow.butterfly_color
    - let butterfly_breed = toShow.butterfly_breed
    - let butterfly_price= toShow.butterfly_price
    div.row(class='mb-2')
      div.mr-1 ID is
      div #{butterflyid}
    - let actionid = "/resource/butterfly/" + butterflyid
    - console.log(actionid+" "+butterflyid)
    form(id='butterflyForm', action= actionid, method="PUT")
      div.form-group
        label.butterflyAttr(for='butterfly_color') butterfly color
        input#butterfly_color(type='text', name='butterfly_color', value= butterfly_color )
      div.form-group
        label.butterflyAttr(for='butterfly_breed') butterfly breed
        input#butterfly_breed(type='text', name='butterfly_breed', value= butterfly_breed )
      div.form-group
        label.butterflyAttr(for='butterfly_price') butterfly price
        input#butterfly_price(type='number', name='butterfly_price', value= butterfly_price )
      input(type="submit")
    script.
      document.forms['butterflyForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.text(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
          alert("Update failed")
        });
      });