extends layout
block content
  h1= title
  form(id='butterflyForm', action="/resource/butterflys", method="POST")
    div.form-group
      label.butterflyAttr(for='butterfly_color') butterfly color 
      input#butterfly_color(type='text', name='butterfly_color')
    div.form-group
      label.butterflyAttr(for='butterfly_breed') butterfly breed 
      input#butterfly_breed(type='text', name='butterfly_breed')
    div.form-group
      label.butterflyAttr(for='butterfly_price') butterfly price 
      input#butterfly_price(type='number', name='butterfly_price')
      input(type="submit")
  script.
    document.forms['butterflyForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });

